{
  "openapi": "3.0.1",
  "info": {
    "title": "CTWA Documentation",
    "description": "CTWA Documentation",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://backend.aisensy.com/client/t1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/meta-ads/fb-connect": {
      "post": {
        "description": "Connect a Facebook account to an assistant, retrieve business/pages/ad accounts, and store tokens",
        "requestBody": {
          "description": "Provide the assistant ID and Facebook auth response (access token, user ID, scopes, etc.)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "authResponse", "status"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant"
                  },
                  "authResponse": {
                    "type": "object",
                    "description": "Object containing Facebook auth data (accessToken, userID, grantedScopes)",
                    "properties": {
                      "accessToken": { "type": "string" },
                      "userID": { "type": "string" },
                      "grantedScopes": {
                        "type": "array",
                        "items": { "type": "string" }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "Connection status returned by Facebook (e.g., 'connected')"
                  },
                  "debug": {
                    "type": "boolean",
                    "description": "Optional flag for debugging (default false)"
                  },
                  "partnerId": {
                    "type": "string",
                    "description": "Optional ID of a partner application (if relevant)"
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Optional ID of the agent connecting the account"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully connected the Facebook account and synchronized the data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates successful connection"
                    },
                    "assistantData": {
                      "$ref": "#/components/schemas/assistantData",
                      "description": "Assistant record reflecting the connected FB account"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or insufficient FB permissions granted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Explanation of the invalid request or missing permission"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Facebook sign-up failure (for example, missing or invalid FB access token)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code (e.g., 'ERR401')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Explanation of the failed FB sign-up"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while attempting to connect to Facebook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating a server-side or FB API error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fb-disconnect": {
      "post": {
        "description": "Disconnect a Facebook account from an assistant, revoke ad account permissions, and mark associated pages and ad accounts as deleted/unassigned.",
        "requestBody": {
          "description": "Provide the assistant ID and Facebook user ID to disconnect FB access",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "fbUserId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant whose FB connection is being removed"
                  },
                  "fbUserId": {
                    "type": "string",
                    "description": "The Facebook user ID that was connected to the assistant"
                  },
                  "partnerId": {
                    "type": "string",
                    "description": "Partner ID if any, used for removing partner-level permissions (optional)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully disconnected the Facebook account and removed ad account/page permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the disconnect operation was successful"
                    },
                    "assistantData": {
                      "$ref": "#/components/schemas/assistantData",
                      "description": "Updated assistant record reflecting the FB disconnection"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters, or user is not allowed to disconnect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name (e.g., 'ERR400')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Reason the request failed"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or Facebook-related error when removing permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message explaining why the disconnect operation could not be completed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/sync-meta-ad-account": {
      "post": {
        "description": "Synchronize Meta ad account data and its associated ads with local records",
        "requestBody": {
          "description": "Provide the assistant ID and ad account ID to synchronize data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "adAccountId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant"
                  },
                  "adAccountId": {
                    "type": "string",
                    "description": "The ID of the Meta ad account to be synchronized"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad account and associated ads synchronized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adAccountData": {
                      "$ref": "#/components/schemas/adAccount",
                      "description": "Updated ad account details (token fields removed)"
                    },
                    "message": {
                      "type": "string",
                      "description": "Confirmation message indicating the synchronization result"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about what caused the request to fail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ad account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name (e.g., 'ERR404')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Explanation of the missing resource"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error or Facebook API error during synchronization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "High-level error message indicating why the sync failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ad-accounts": {
      "post": {
        "description": "Fetch ad accounts associated with a given assistant",
        "requestBody": {
          "description": "Provide the assistant ID to retrieve all relevant ad accounts",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant whose ad accounts should be fetched"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad accounts fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/adAccount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Assistant ID missing or invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Reason for invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching ad accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Message indicating the reason for the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ad-account": {
      "post": {
        "description": "Fetch ad account details for a specified assistant",
        "requestBody": {
          "description": "Provide the ad account ID and the assistant ID",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["adAccountId", "assistantId"],
                "properties": {
                  "adAccountId": {
                    "type": "string",
                    "description": "The ID of the Meta ad account"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant associated with the ad account"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully fetched the ad account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adAccount"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about the invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching ad account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message explaining why the fetch failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/sync-ad": {
      "post": {
        "description": "Synchronize local ad data with Meta's latest ad information",
        "requestBody": {
          "description": "Provide the assistant ID and the MongoDB ad ID to update an existing ad",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "_id"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant"
                  },
                  "_id": {
                    "type": "string",
                    "description": "The MongoDB ID of the ad record being synchronized"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad synchronization completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adData": {
                      "$ref": "#/components/schemas/adData",
                      "description": "The updated local ad record"
                    },
                    "adAccountData": {
                      "$ref": "#/components/schemas/adAccount",
                      "description": "Updated ad account details without system user tokens"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about the invalid parameters"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ad or Ad Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name (e.g., 'ERR404')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details on the missing resource"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or Facebook API issue while syncing ads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "High-level message indicating the failure reason"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ads/{adAccountId}": {
      "post": {
        "description": "Fetch a list of ads from a specified ad account, filtered and paginated as requested",
        "parameters": [
          {
            "in": "path",
            "name": "adAccountId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the Meta ad account for which ads are being fetched"
          }
        ],
        "requestBody": {
          "description": "Provide the assistant ID, pagination options, name filtering, and optional tab or status filters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant that owns the ads"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of ads to fetch per page (default 10)"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Zero-based or one-based page index (default 1); used with limit to paginate ads"
                  },
                  "nameQuery": {
                    "type": "string",
                    "description": "Search query to match ads by name (case-insensitive)"
                  },
                  "tab": {
                    "type": "string",
                    "description": "Optional tab or category for UI-based filtering"
                  },
                  "selectedOption": {
                    "type": "string",
                    "description": "Comma-separated list of ad statuses to include (e.g. 'ACTIVE,PAUSED')"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ads fetched successfully with applied filters and pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mongoData": {
                      "type": "array",
                      "description": "An array of matched ads",
                      "items": {
                        "$ref": "#/components/schemas/adData"
                      }
                    },
                    "count": {
                      "type": "number",
                      "description": "Total number of ads matching the query"
                    },
                    "activeAdCount": {
                      "type": "number",
                      "description": "Number of ads with status = 'ACTIVE'"
                    },
                    "pausedAdCount": {
                      "type": "number",
                      "description": "Number of ads with status = 'PAUSED'"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters, or the user cannot access the requested ad account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error or inability to fetch ads from the database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating why the server failed to retrieve ads"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ads": {
      "post": {
        "description": "Fetch multiple ads for a given assistant",
        "requestBody": {
          "description": "Provide the assistant ID to retrieve ads from the system",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ads fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/adData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or other client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message describing what went wrong"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unable to connect to Facebook or another server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Server error message indicating the failure reason"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ad": {
      "post": {
        "description": "Fetches a specific ad based on its MongoDB ID and assistant ID",
        "requestBody": {
          "description": "Provide the MongoDB ad ID and the assistant ID",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["_id", "assistantId"],
                "properties": {
                  "_id": {
                    "type": "string",
                    "description": "The MongoDB ID of the ad"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant that owns the ad"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested ad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adData"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters, or the ad was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about the reason the ad wasn't found or the invalid parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while trying to fetch the ad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Description of the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/create-ad": {
      "post": {
        "description": "Create a new ad or update an existing ad based on the provided parameters",
        "requestBody": {
          "description": "Provide the assistant ID and an optional Mongo ad ID to create/update an ad",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "_id"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant associated with the ad"
                  },
                  "_id": {
                    "type": "string",
                    "description": "The MongoDB ad ID. If it exists, the ad will be updated; otherwise a new ad is created."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad created/updated and returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Detailed error message explaining what went wrong"
                    },
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unable to connect to Facebook or other server-side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Description of the server or Facebook API error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ctw-ads": {
      "post": {
        "description": "Fetch Click-to-WhatsApp (CTW) ads from a specified ad account and update local records",
        "requestBody": {
          "description": "Provide the assistant ID and ad account ID to retrieve/update CTW ads",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "adAccountId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant"
                  },
                  "adAccountId": {
                    "type": "string",
                    "description": "ID of the ad account from which CTW ads are fetched"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CTW ads fetched and synchronized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adsCreated": {
                      "type": "integer",
                      "description": "Number of new ad records created"
                    },
                    "adsUpdated": {
                      "type": "integer",
                      "description": "Number of existing ad records updated"
                    },
                    "matchedCount": {
                      "type": "integer",
                      "description": "Number of matched records (for updates)"
                    },
                    "adAccountData": {
                      "$ref": "#/components/schemas/adAccount",
                      "description": "Updated ad account details, excluding system user tokens"
                    },
                    "message": {
                      "type": "string",
                      "description": "Confirmation message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about the error"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ad account not found or not assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name (e.g. 'ERR404')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Explanation of the missing resource"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching ads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/new-fetch-ctw-ads": {
      "post": {
        "description": "Fetch new Click-to-WhatsApp (CTW) ads from a 2-tier ad account",
        "requestBody": {
          "description": "Provide assistant ID and ad account ID to retrieve CTW ads",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "adAccountId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant"
                  },
                  "adAccountId": {
                    "type": "string",
                    "description": "ID of the ad account from which ads are fetched"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CTW ads fetched and synchronized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Confirmation message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or ad account mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message explaining why the request failed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g., ad account not assigned)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code (e.g. 'ERR404')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about the missing resource"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while fetching ads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating reason for the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/update-ad-status": {
      "post": {
        "description": "Update the status of an existing Meta ad",
        "requestBody": {
          "description": "Provide details (ad ID, ad account ID, assistant ID, new status) to update an ad's status",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "_id",
                  "adAccountId",
                  "adId",
                  "assistantId",
                  "status"
                ],
                "properties": {
                  "_id": {
                    "type": "string",
                    "description": "Internal MongoDB ID for the ad record"
                  },
                  "adAccountId": {
                    "type": "string",
                    "description": "ID of the Meta ad account containing the ad"
                  },
                  "adId": {
                    "type": "string",
                    "description": "Meta-provided ID of the ad to be updated"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant that owns the ad"
                  },
                  "status": {
                    "type": "string",
                    "description": "New status for the ad (e.g. 'ACTIVE', 'PAUSED')"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the ad status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adData"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the error"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name (e.g. 'ERR404')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Description of the missing resource or credit issue"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during ad status update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating the update process failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/location-search": {
      "post": {
        "description": "Search for advanced location targeting data (cities, regions, neighborhoods, etc.)",
        "requestBody": {
          "description": "Provide an ad account ID, assistant ID, and search text to look up location data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["adAccountId", "assistantId", "text"],
                "properties": {
                  "adAccountId": {
                    "type": "string",
                    "description": "ID of the ad account performing the search"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant requesting the search"
                  },
                  "text": {
                    "type": "string",
                    "description": "Location search text (e.g., 'Bangalore', 'Indiana')"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Locations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of matching location results",
                      "items": {
                        "$ref": "#/components/schemas/adGeoLocation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while searching locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Explanation of the server-side error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/target-suggestions": {
      "post": {
        "description": "Retrieve targeting suggestions based on a list of targeting options",
        "requestBody": {
          "description": "Provide the assistant ID and a list of targeting options to receive suggestions",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "targetList"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant requesting suggestions"
                  },
                  "targetList": {
                    "type": "string",
                    "description": "A serialized list of targeting items (JSON/string) for which suggestions are requested"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Target suggestions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "An array of suggested targeting items",
                      "items": {
                        "$ref": "#/components/schemas/targetingSearchItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while retrieving target suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Explanation of the server-side error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/target-search": {
      "post": {
        "description": "Search location or advanced targeting interests/behaviors via Meta's targetingsearch endpoint",
        "requestBody": {
          "description": "Provide an assistant ID and search text to query Meta's targeting database",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "text"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant performing the search"
                  },
                  "text": {
                    "type": "string",
                    "description": "Search text or query for targeting (e.g., 'high school', 'college')"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "An array of matching targeting items from Meta",
                      "items": {
                        "$ref": "#/components/schemas/targetingSearchItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or other client-side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message explaining what went wrong"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error, unable to search target data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing the server-side issue"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ad-analytics": {
      "post": {
        "description": "Fetch paginated ad analytics records for a specific ad within a date range",
        "requestBody": {
          "description": "Provide ad ID, assistant ID, pagination details, and optional filters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["adId", "assistantId", "limit", "page"],
                "properties": {
                  "adId": {
                    "type": "string",
                    "description": "The ID of the ad for which analytics are being fetched"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant that owns the ad"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of records to fetch per page"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page index for pagination (zero-based)"
                  },
                  "leadType": {
                    "type": "string",
                    "description": "Optional filter for the type of leads (e.g., 'new' or 'existing')"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional start date for filtering records by 'sentAt'"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional end date for filtering records by 'sentAt'"
                  },
                  "sort": {
                    "type": "integer",
                    "description": "Sort order for 'sentAt' field. Typically -1 (descending) or 1 (ascending)."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad Analytics fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mongoAdAnalyticsData": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/metaAdAnalytics"
                      },
                      "description": "An array of analytics documents"
                    },
                    "count": {
                      "type": "number",
                      "description": "Total number of records matching the query"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching ad analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating reason for failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/opt-meta-audience-count": {
      "post": {
        "description": "Determine how many users in a given Meta ad audience have opted out",
        "requestBody": {
          "description": "Filter by ad ID, assistant ID, date range, and optional lead type",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["adId", "assistantId"],
                "properties": {
                  "adId": {
                    "type": "string",
                    "description": "ID of the ad from which the audience is derived"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant for which audience data is being fetched"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date for filtering the audience data (optional)"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date for filtering the audience data (optional)"
                  },
                  "leadType": {
                    "type": "string",
                    "description": "Type of leads to filter (e.g. 'new', 'existing'; optional)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the count of opted-out audience members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "optedCount": {
                      "type": "number",
                      "description": "Number of users who have opted out"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - unable to process the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message for server-side failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/get-segregated-opted": {
      "post": {
        "description": "Determine how many users in the provided list are opted-out",
        "requestBody": {
          "description": "Check opted-out status for a list of user numbers",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "userNumberArray"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant"
                  },
                  "userNumberArray": {
                    "type": "array",
                    "description": "An array of user number objects to check",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userNumber": {
                          "type": "string",
                          "description": "User's WhatsApp phone number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved opted-out count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "optedoutLenght": {
                      "type": "number",
                      "description": "Number of users who have opted out"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - unable to process the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message for server-side failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-ad-graph-data": {
      "post": {
        "description": "Fetches ad analytics data (e.g., leads/messages) within a specified date range",
        "requestBody": {
          "description": "Provide ad ID, assistant ID, and optionally start/end dates to filter analytics data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["adId", "assistantId"],
                "properties": {
                  "adId": {
                    "type": "string",
                    "description": "The ID of the ad for which analytics are being fetched"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant that owns the ad"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start of the date range (optional); defaults to current day start"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End of the date range (optional); defaults to current day end"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad analytics data fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/metaAdAnalytics"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name/code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Details about the error"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching ad analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating reason for failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/update-whatsapp-number": {
      "post": {
        "description": "Update or verify a WhatsApp number linked to a Meta page",
        "requestBody": {
          "description": "Verify OTP and link the WhatsApp number with the specified page",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "number", "pageId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant"
                  },
                  "number": {
                    "type": "string",
                    "description": "The WhatsApp number to link with the page (E.164 format, e.g., '919642836392')"
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Meta Page ID for which the WhatsApp number is being verified"
                  },
                  "verificationCode": {
                    "type": "string",
                    "description": "OTP verification code if the user is in the process of verifying the number",
                    "default": ""
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "WhatsApp number updated/verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verification_status": {
                      "type": "string",
                      "description": "Verification status returned by the Meta API"
                    },
                    "otpState": {
                      "type": "string",
                      "description": "State of the OTP verification process (e.g. 'send', 'verified')"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable status message"
                    },
                    "pageData": {
                      "$ref": "#/components/schemas/metaPage",
                      "nullable": true,
                      "description": "Updated page document (only if verification_status implies a successful link)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request or invalid OTP/parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "ERR404",
                      "description": "Error code/name"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number is not linked with Whatsapp",
                      "description": "Details about the error"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - cannot verify or link WhatsApp number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Could not generate/verify OTP",
                      "description": "General server error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/link-whatsapp-number-with-page": {
      "post": {
        "description": "Link a WhatsApp number with a Meta page, optionally setting up a child business account",
        "requestBody": {
          "description": "Verify OTP for the WhatsApp number and then link it with the specified page",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId", "number", "pageId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant to which the WhatsApp number/page is linked"
                  },
                  "number": {
                    "type": "string",
                    "description": "The WhatsApp phone number to be linked with the page"
                  },
                  "pageId": {
                    "type": "string",
                    "description": "The Meta page ID to which the WhatsApp number is linked"
                  },
                  "verificationCode": {
                    "type": "string",
                    "description": "OTP verification code for the phone number (if applicable)",
                    "default": ""
                  },
                  "timezoneId": {
                    "type": "string",
                    "description": "Timezone ID used if a new child business manager is created"
                  },
                  "vertical": {
                    "type": "string",
                    "description": "Business vertical/category"
                  },
                  "bmName": {
                    "type": "string",
                    "description": "The name of the business manager account to create"
                  },
                  "createBM": {
                    "type": "boolean",
                    "description": "If true, a new child business manager will be created"
                  }
                },
                "example": {
                  "assistantId": "6740327c7efe1a58cc6e633e",
                  "number": "919642836392",
                  "pageId": "399277543277253",
                  "verificationCode": "123456",
                  "timezoneId": "Asia/Kolkata",
                  "vertical": "E-commerce",
                  "bmName": "MyNewBM",
                  "createBM": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "WhatsApp number successfully linked with the page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otpState": {
                      "type": "string",
                      "description": "Indicates whether the OTP was verified (e.g., 'verified', 'pending')"
                    },
                    "adAccount": {
                      "$ref": "#/components/schemas/adAccount",
                      "description": "Ad account details if a new child business manager is created"
                    },
                    "createdBM": {
                      "type": "boolean",
                      "description": "Indicates if a new child business manager was created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid parameters or OTP error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name",
                      "example": "ERR400"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - could not generate or verify the OTP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Reason for the failure",
                      "example": "Could not generate/verify OTP"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-pages": {
      "post": {
        "description": "Fetch all active Meta pages for a given assistant",
        "requestBody": {
          "description": "Retrieve pages associated with the specified assistant",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant for which pages need to be fetched"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pages fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/metaPage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "ERR400",
                      "description": "Error name"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid Parameters",
                      "description": "Detailed error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Unable to fetch pages",
                      "description": "Message describing why the request failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-page": {
      "post": {
        "description": "Fetch pages for a given assistant (optionally filtered by pageId).",
        "requestBody": {
          "description": "Fetch pages associated with the given assistant.",
          "content": {
            "application/json": {
              "schema": {
                "required": ["assistantId"],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant."
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Optional Meta page ID to filter the results."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pages fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",

                  "$ref": "#/components/schemas/metaPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request due to invalid or missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name",
                      "example": "ERR400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message describing what went wrong",
                      "example": "Invalid Parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while fetching pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating failure reason",
                      "example": "Unable to fetch page"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/select-ad-profile": {
      "post": {
        "description": "Select Page ID or Ad Account ID for an Assistant",
        "requestBody": {
          "description": "Choose a Meta page and/or ad account for the specified assistant",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistantId"],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant being updated"
                  },
                  "selectedMetaPageId": {
                    "type": "string",
                    "description": "The ID of the selected Meta page (optional)"
                  },
                  "selectedMetaAdAccountId": {
                    "type": "string",
                    "description": "The ID of the selected Meta ad account (optional)"
                  }
                },
                "example": {
                  "assistantId": "6740327c7efe1a58cc6e633e",
                  "selectedMetaPageId": "399277543277253",
                  "selectedMetaAdAccountId": "act_8286720991411573"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Page or Ad Account selected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistantData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Error name",
                      "example": "ERR400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message",
                      "example": "Invalid Parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unable to update assistant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Server error message",
                      "example": "Unable to update assistant"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-web-meta-data": {
      "post": {
        "description": "Fetch Web Meta Data",
        "requestBody": {
          "description": "Fetch raw HTML document of a webpage",
          "content": {
            "application/json": {
              "schema": {
                "required": ["assistantId", "link"],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant making the request"
                  },
                  "link": {
                    "type": "string",
                    "description": "The URL of the webpage to fetch"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webpage HTML fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The requested webpage URL"
                    },
                    "documentDOC": {
                      "type": "string",
                      "description": "Raw HTML content of the fetched webpage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or website not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "ERR400"
                    },
                    "message": {
                      "type": "string",
                      "example": "Website not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error when fetching the webpage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Unable to fetch website meta data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/updateMetaAdDetails": {
      "post": {
        "description": "Update Meta Ad Details",
        "requestBody": {
          "description": "Update meta ad details including budget and other related fields",
          "content": {
            "application/json": {
              "schema": {
                "required": ["assistantId"],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant associated with the ad"
                  },
                  "totalAssignedBudget": {
                    "type": "number",
                    "description": "The total budget assigned for the ad, must be at least 5000"
                  },
                  "metaAdsDetails": {
                    "type": "object",
                    "description": "An object containing meta ad details to be updated",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Meta Ad Details Updated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistantData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating what was invalid"
                    },
                    "name": {
                      "type": "string",
                      "description": "Error name"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating why the update failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/assign-meta-page": {
      "post": {
        "description": "Assign an existing Meta page to an assistant",
        "requestBody": {
          "description": "Assign an existing Meta Page to a specified assistant",
          "content": {
            "application/json": {
              "schema": {
                "required": ["assistantId", "id"],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant to assign the page to"
                  },
                  "id": {
                    "type": "string",
                    "description": "The ID of the Meta page to be assigned"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Meta page assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Indicates if the page was assigned successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/metaPage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing what went wrong"
                    },
                    "name": {
                      "type": "string",
                      "description": "Error name"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating the failure reason"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/assign-ad-account": {
      "post": {
        "description": "Assign an existing ad account to an assistant",
        "requestBody": {
          "description": "Assign an existing Meta Ad Account to a specified assistant",
          "content": {
            "application/json": {
              "schema": {
                "required": ["assistantId", "id"],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "The ID of the assistant to assign the ad account to"
                  },
                  "id": {
                    "type": "string",
                    "description": "The ID of the ad account to be assigned"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad account assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Indicates if the ad account was assigned successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/adAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing what went wrong"
                    },
                    "name": {
                      "type": "string",
                      "description": "Error name"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating the failure reason"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/setup-business-account": {
      "post": {
        "description": "Setup a new business account for Meta Ads",
        "requestBody": {
          "description": "Setup a new Meta Ads business account with the given parameters",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "assistantId",
                  "pageId",
                  "timezoneId",
                  "vertical",
                  "bmName"
                ],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant"
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Facebook page ID to be associated with the business account"
                  },
                  "timezoneId": {
                    "type": "string",
                    "description": "Timezone ID for the business account"
                  },
                  "vertical": {
                    "type": "string",
                    "description": "Business vertical/category"
                  },
                  "bmName": {
                    "type": "string",
                    "description": "Name of the business account"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Business account setup successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Indicates whether the setup was successful"
                    },
                    "adAccount": {
                      "$ref": "#/components/schemas/adAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message describing what went wrong"
                    },
                    "name": {
                      "type": "string",
                      "description": "Error name"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating the failure reason"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/fetch-meta-ad-setup": {
      "post": {
        "description": "Fetch Meta Ad Setup",
        "requestBody": {
          "description": "Fetch ad setup details for the specified ad",
          "content": {
            "application/json": {
              "schema": {
                "required": ["assistantId", "_id"],
                "type": "object",
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "Project ID for which the ad setup needs to be fetched"
                  },
                  "_id": {
                    "type": "string",
                    "description": "Mongo ID of the ad"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad setup details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adAccountData": {
                      "$ref": "#/components/schemas/adAccount"
                    },
                    "adData": {
                      "$ref": "#/components/schemas/adData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message describing what went wrong"
                    },
                    "name": {
                      "type": "string",
                      "description": "Error name"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message indicating the failure reason"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta-ads/create-meta-ad-account": {
      "post": {
        "description": "Create a new Meta ad account",
        "requestBody": {
          "description": "Details for creating a new ad account",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "childBusinessId",
                  "adAccountName",
                  "timezoneId",
                  "currency",
                  "assistantId"
                ],
                "type": "object",
                "properties": {
                  "childBusinessId": {
                    "type": "string",
                    "description": "ID of the child business associated with the ad account"
                  },
                  "adAccountName": {
                    "type": "string",
                    "description": "Name of the new ad account"
                  },
                  "timezoneId": {
                    "type": "string",
                    "description": "Timezone ID for the ad account"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the ad account"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "Assistant ID linked to the ad account"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the ad account was created successfully"
                    },
                    "adAccount": {
                      "$ref": "#/components/schemas/adAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid input or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
